a {
  text-decoration: none;
}

#hd .gnb .big_menu:hover ul {
  display: block;
}
#hd .gnb .big_menu a {
  color: black !important;
}
#hd .gnb .big_menu ul {
  min-width: 56px;
  white-space: nowrap;
  margin-top: 28px !important;
  background-color: black !important;
  display: none;
  transition: 3s !important;
}
#hd .gnb .big_menu ul.leftul {
  left: -2rem;
}
#hd .gnb .big_menu ul li {
  padding: 0 25px;
}
#hd .gnb .big_menu ul li a {
  color: white !important;
}