// a{
//     text-decoration: none ;
    
// }

// #hd{
    
//     .gnb{

       
        
//         &:hover{
            
//             ul{
//                 height:300px !important;
//                 min-width: 120px;
                

//             }
            
            
//         }
//         >li:hover{
                
//              >a{color: red !important; /* 변경된 부분 */}
            
//         }
        

        
//             .big_menu{
                
                
//                 a{
                    
//                     color: black !important;
//                 }
                
                
//                 ul{
//                     //소메뉴

//                     min-width: 80px;
//                     white-space: nowrap;
//                     background-color: black !important;
//                     height: 1px;
//                     transition: max-height 1.2s;
//                     overflow: hidden;
//                     padding: 0 1rem !important;
//                     border:0 !important;
//                     margin-top: 28px !important;
//                     left: -80px;
//                     padding-left: 80px !important;
//                     &:before,
//                     &:after{
//                         content: "";
//                         display: block;
//                         height: 20px;
                        

//                     }
//                     &.leftul{
//                          left:-2rem;}
//                     li
//                     {width: 150px !important;
                        
                        
//                         a{
//                             color: white !important;
//                             &:hover{
//                                 color:red !important;
//                             }
//                         }
//                     }
//                 }
//             }

       
        
        
            
        

//     }

        
    
// }



// // .gnb{
// //     &:hover{
// //         ul{
// //             height: 180px;
// //         }
// //     }

// //     ul{
// //         top: 100%;
// //         min-width: ;
// //     }
// // }

#hd {
    h1,
    .iconMenu {
        width: 0;
    }
    h1 {
        a {
            white-space: nowrap;
        }
    }
    .gnb {
        .gnb_li {
            &:hover {
                .gnb_a {
                    color: red; // 활성화
                }
                .gnb_ul {
                    max-height: 180px; // 각각의 사이즈가 다르기 때문에 max-height로 해야됨
                    padding: 0 1.5rem;
                    border-bottom: 1px solid #ccc;
                    transition: max-height 1.2s ease, border-radius 0.5s ease 0.5s; // border-radius에 지연 시간 추가
                    border-radius: 0 0 30px 30px;//보더가 내려왔을때 생기려면 하버에 넣어야함
                    border-top: 1px solid #ccc;
                }
                &:after {
                    transition: 0.5s;
                }
                
            }

            .gnb_ul_li{
                &:hover{
                    a{color: orange;

                    }

                }
                
                
            }
            .gnb_a {
                font-size: 1.3rem;
            }
            .gnb_ul {
                min-width: 10rem !important; //소메뉴의 넓이
                background-color: white !important;
                margin-top: -1px !important;//부모요소와 곂치지않게 조정
                top: 100% !important; //위를 기준으로부터 100% 내려온다
                border: 1px solid #ccc;
                border-top: 0 !important; //보더라인 안보이게
                border-bottom: 0;
                border-radius: 0 0;
                overflow: hidden;
                transform: translateX(-50%);
                left: 50%;
                max-height: 0;
                overflow: hidden;
                transition: max-height 1.2s ease, border-radius 1.1s ease;
                
                &:after,
                &:before {
                    content: "";
                    display: block;
                    height: 1rem;
                }
                &:after {
                    // border-bottom: 1px solid #ccc;
                }
            }
        }
    }
}

a {
    color: black;
    text-decoration: none;
}


   



//     링크색.언더라인
// }