a{
    text-decoration: none ;
    
}

#hd{
    
    .gnb{

       
        
        &:hover{
            
            ul{
                height:300px !important;
                min-width: 120px;
                

            }
            
            
        }
        >li:hover{
                
             >a{color: red !important; /* 변경된 부분 */}
            
        }
        

        
            .big_menu{
                
                
                a{
                    
                    color: black !important;
                }
                
                
                ul{
                    //소메뉴

                    min-width: 80px;
                    white-space: nowrap;
                    background-color: black !important;
                    height: 1px;
                    transition: max-height 1.2s;
                    overflow: hidden;
                    padding: 0 1rem !important;
                    border:0 !important;
                    margin-top: 28px !important;
                    left: -80px;
                    padding-left: 80px !important;
                    &:before,
                    &:after{
                        content: "";
                        display: block;
                        height: 20px;
                        

                    }
                    &.leftul{
                         left:-2rem;}
                    li
                    {width: 150px !important;
                        
                        
                        a{
                            color: white !important;
                            &:hover{
                                color:red !important;
                            }
                        }
                    }
                }
            }

       
        
        
            
        

    }

        
    
}



// .gnb{
//     &:hover{
//         ul{
//             height: 180px;
//         }
//     }

//     ul{
//         top: 100%;
//         min-width: ;
//     }
// }